.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bgpq4
compat/.deps/
compat/.libs/
compat/Makefile
compat/Makefile.in
compat/libcompat.la
compat/strlcpy.lo
compat/strlcpy.o
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
expander.o
include/Makefile
include/Makefile.in
install-sh
libtool
ltmain.sh
m4/
main.o
missing
printer.o
sx_prefix.o
sx_report.o
sx_slentry.o
